{% extends "layout.html" %}

{% block title %}
    Reply
{% endblock %}

{% block main %}
    <form action="/compose" method="post">
        <div class="mb-3">
            <label>From: </label>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="sender" value="{{ email_detail.recipient }}" type="email" placeholder="Sender">
        </div>
        <div class="mb-3">
            <label>To: </label>
            <input class="form-control mx-auto w-auto" id="recipient" name="recipient" value="{{ email_detail.sender }}" placeholder="Recipient" type="email">
        </div>
        <div class="mb-3">
            <label>Subject: </label>
            <input class="form-control mx-auto w-auto" id="subject" name="subject" value="{{ email_detail.subject }}" placeholder="Subject" type="text">
        </div>
        <div class="mb-3">
            <textarea name="body"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Reply</button>
    </form>
{% endblock %}
